.dish-container {
  min-height: calc(100vh - 85px);
  margin: auto;
  margin-top: 20px;
  display: flex;
}

.header-row > div,
.dish-row > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-row {
  font-weight: 600;
}

.header-row > div {
  padding: 15px;
}

.dish-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  justify-content: space-evenly;
  margin: 10px 0;
}

.section-container {
  min-height: calc(100vh - 76px);
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.add-section {
  margin: 15px;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.section-wrapper {
  min-height: calc(100vh - 76px);
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.section-row {
  padding: 15px;
  align-items: center;
}
.dish-image {
  height: 150px;
  width: 150px;
}
